__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.manifest
*.spec

.venv/
venv/
ENV/
env/
*.env
*.venv

.ipynb_checkpoints/
*.ipynb_convert/
*.nbconvert.ipynb

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.log
*.sqlite3
*.db

.coverage
coverage.xml
htmlcov/
.pytest_cache/
.cache/
.tox/
nosetests.xml
junit.xml

.DS_Store
Thumbs.db

*.bak
*.swp
*.tmp
